.review {
    display: inline-flex;
    border-bottom: 1px solid #999;
    width: 100%;
    text-align: left;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.review:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
}

.review .type {
    position: relative;
    margin-right: 30px;
}

.review .type .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f6f6f6;
    position: relative;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.review .content {
    flex: 1;
}

@media (max-width: 767px) {
    .review .type {
        margin-right: 15px;
    }

    .review .type .icon {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
}